#home-header {
  text-align: center;
  margin-top: 25px;
}

tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed;

}

table{
  display: -moz-groupbox;
}
tbody{
  overflow-y: scroll;
  height: 600px;
  position: absolute;
}
