#home-header {
  text-align: center;
  margin-top: 25px; }

#ranked-list-cell tr {
  width: 100%;
  display: inline-table;
  table-layout: fixed; }

#ranked-list-cell table {
  display: -moz-groupbox; }

#ranked-list-cell tbody {
  overflow-y: scroll;
  height: 500px;
  position: absolute; }
